.App {
  text-align: left;
  background-color: #f0e9eb;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
}

.App-header {
  background-color: #5f446b;
  height: 70px;
  display: grid;
  justify-content: center;
  font-size: large;
  color: rgb(255, 249, 254);
  padding: 20px;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

* {
  box-sizing: border-box;
}

.App-header h2 {
  margin: 0;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.container {
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
 grid-template-rows: auto;
 grid-column-gap: 20px;
 grid-row-gap: 20px;
 padding: 2px 16px;
 text-align: left;
 display: grid;
 cursor: pointer;
}

.card{
 box-shadow: 0 4px 8px 0 rgba(135, 134, 221, 0.781);
 transition: 0.3s;
 border-radius: 3px;
 width: 160px;
 padding: 5px;
 text-overflow: ellipsis;
 background-color: rgba(255, 255, 255, 0.781);
}

.data {
  display:"block";
}
.detail{
 transition: 0.3s;
 border-radius: 10px;
 padding: 20px;
 padding-left: 150px;
 display: grid;
 grid-column-gap: 20px;
 grid-row-gap: 20px;
grid-template-columns: 200px 800px;
align-items: start;
justify-content: center;
font-size: 18px;
}
.ketchup{
  justify-content: center;
  
}
.addform {
height: 582px;
align-items: center;
padding: 50px;
border-spacing: 10px;
height:100%;
width: 100%;
}
.depth{
  align-items: center;
  padding: 20px;
  padding-left: 175px;
}
.editform {
font-family:"Helvetica Neue", Helvetica, sans-serif;
height: 580px;
align-items: center;
padding: 50px;
border-spacing: 30px;
height: 100%;
width: 100%;
overflow: auto;
resize: vertical;
}
.full {
  font-size: 20px;
  box-shadow: 5px 15px 15px 5px rgba(186, 177, 196, 0.781);
 transition: 0.3s;
 border-radius: 3px;
 width: 100%;
 height:100% ;
 align-items: center;
 justify-items: center;
}
.form-inline{
font-size: 20px;
}
.loader{
position: fixed;
z-index: 99;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: aqua;
justify-content: center;
align-items: center;
}
.input, textarea  
{  
  font-family:"Helvetica Neue", Helvetica, sans-serif;
   font-size: 18px;   
}

