.App {
  text-align: left;
  background-color: #f0e9eb;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #5f446b;
  height: 70px;
  display: grid;
  justify-content: center;
  font-size: large;
  color: rgb(255, 249, 254);
  padding: 20px;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

* {
  box-sizing: border-box;
}

.App-header h2 {
  margin: 0;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 2px 16px;
  text-align: left;
  display: grid;
  cursor: pointer;
  padding-top: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(135, 134, 221, 0.781);
  transition: 0.3s;
  border-radius: 3px;
  width: 160px;
  padding: 5px;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.781);
}

.data {
  display: "block";
}
.addform {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 30%;
  padding-top: 0%;
  clear: both;
  font-size: "15px";
  
}
.editform {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 30%;
  padding-top: 0%;
  clear: both;
  font-size: "15px";
  
  /* border-spacing: 30px; */
  /* overflow: auto; */
  /* resize: vertical; */
}
.full {
  font-size: 20px;
  padding: 0px;
  height: 1000px;
  width: 1100px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  border-radius: 3px;
}
.movieCard{
  padding:5%;
  height: 1100px;
  width:1000px;
}

.form-inline {
  font-size: 20px;
}
.loader {
  padding: 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-left: 570px;
}
.input,
textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  
}
input:focus, textarea:focus{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
       border-radius: 4px;

-webkit-box-shadow: 0px 0px 4px #a711ec;
  -moz-box-shadow: 0px 0px 4px #a711ec;
       box-shadow: 0px 0px 4px #a711ec;
}

.navbar{
  float: right;
}
.navbar ul{
  list-style-type:none;
}
